* {
    padding: 0;
    margin: 0;
    color: var(--color-white);
    transition: 0.7s;

}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.weather-card {
    background: rgba(255, 255, 255, 0.1);
    padding: 1.25rem;
    border-radius: 1.25rem;
    display: inline-block;
    backdrop-filter: blur(.625rem);
    box-shadow: 0 .625rem 1.5625rem rgba(0, 0, 0, 0.2);
    margin-top: 3.125rem;
}

h1 {
    font-size: 2em;
    margin-top: 13.125rem;

}

.temp {
    font-size: 3em;
    font-weight: bold;
}

.forecast {
    margin-top: 1.25rem;
    font-size: 1.2em;
}



@media (max-width: 48.125rem) {
    .container {
        width: 95%;
        padding: 0 .625rem;
        margin-top: 60%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .weather-card {
        width: 100%;
        padding: .9375rem;
    }

    h1 {
        font-size: 1.5em;
    }

    .temp {
        font-size: 2.2em;
    }

    .forecast {
        font-size: 1em;
    }
}

@media (max-width: 37.5rem) {
    body {
        padding: 1.25rem .3125rem;
    }

    .container {
        width: 90%;
        padding: 0;
        margin-top: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .weather-card {
        margin-top: .625rem;
        padding: .625rem;
        border-radius: .75rem;
    }

    h1 {
        font-size: 1.1em;
    }

    .temp {
        font-size: 1.5em;
    }

    .forecast {
        font-size: 0.95em;
    }
}